Temp/
Library/
.vs/
*.userprefs
obj/
Assets/SpaceFighter/Textures/spacefighter_Helium3_AlbedoTransparency.png
Assets/SpaceFighter/Textures/spacefighter_Glass_Normal.png
Assets/3Skyboxes/Skybox_BlueNebular_Textures/BlueNebular_top.jpg
Assets/3Skyboxes/Skybox_BlueNebular_Textures/BlueNebular_right.jpg
Assets/3Skyboxes/Skybox_BlueNebular_Textures/BlueNebular_left.jpg
Assets/3Skyboxes/Skybox_BlueNebular_Textures/BlueNebular_front.jpg
Assets/3Skyboxes/Skybox_BlueNebular_Textures/BlueNebular_bottom.jpg
Assets/3Skyboxes/Skybox_BlueNebular_Textures/BlueNebular_back.jpg
Assets/SpaceFighter/Textures/spacefighter_SpacefighterMain_AlbedoTransparency.png
Assets/SpaceFighter/Textures/spacefighter_SpaceFighterWings_Normal.png
Assets/SpaceFighter/Textures/spacefighter_SpaceFighterWings_MetallicSmoothness.png
Assets/SpaceFighter/Textures/spacefighter_SpaceFighterWings_Emission.png
Assets/SpaceFighter/Textures/spacefighter_SpaceFighterWings_AlbedoTransparency.png
Assets/SpaceFighter/Textures/spacefighter_Rocket_Normal.png
Assets/SpaceFighter/Textures/spacefighter_Rocket_MetallicSmoothness.png
Assets/SpaceFighter/Textures/spacefighter_Rocket_Emission.png
Assets/SpaceFighter/Textures/spacefighter_Rocket_AlbedoTransparency.png
Assets/SpaceFighter/Textures/spacefighter_Helium3_Normal.png
Assets/SpaceFighter/Textures/spacefighter_Helium3_MetallicSmoothness.png
Assets/SpaceFighter/Textures/spacefighter_Helium3_Emission.png
Assets/SpaceFighter/Textures/spacefighter_rocket_launcher_Normal.png
Assets/SpaceFighter/Textures/spacefighter_rocket_launcher_MetallicSmoothness.png
Assets/SpaceFighter/Textures/spacefighter_rocket_launcher_AlbedoTransparency.png
Assets/SpaceFighter/Textures/spacefighter_SpacefighterMain_Normal.png
Assets/SpaceFighter/Textures/spacefighter_SpacefighterMain_MetallicSmoothness.png
Assets/SpaceFighter/Textures/spacefighter_SpacefighterMain_Emission.png
